* {
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: "Verdana, Geneva", sans-serif;
  min-height: 100vh;
  background-color: #fff;
}

main {
  width: 100%;
  margin: 0 auto;
}

section {
  padding-top: 8vh;
  padding-bottom: 4vh;
}

footer {
  padding-top: 5vh;
  margin-top: auto;
  background-color: #7ED3F6;
  color: black;
}

footer a img {
  padding-right: 10px;
}

footer a {
  color: #80298F;
}

.footer-copyright {
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
  color: black;
  background-color: #7ED3F6;
}

h1, h2, h3, h4, h5 {
  font-family: "Arial, Helvetica" sans-serif!important;
  font-weight: 400;
}

p {
  line-height: 2rem;
}

/* navbar */

.menu-icon {
  padding-right: 10px;
  height: 25px;
}

/* navbar color */

nav {
  background-color: #80298F;
}

nav.nav-center ul {
  text-align: center;
}

nav.nav-center ul li {
  display: inline;
  float: none;
}

nav.nav-center ul li a {
  display: inline-flex;
}

/* menu icon color on sidenav */

.sidenav-trigger {
  color: #7ED3F6;
}

/* theme colors */

.purple-text {
  color: #80298F;
}

.purple-bg {
  background-color: #80298F;
}

.blue-bg {
  background-color: #0C4BA0;
}

.blue-text {
  color: #0C4BA0!important;
}

.light-blue-bg {
  background-color: #7ED3F6;
}

.light-blue-text {
  color: #7ED3F6;
}

.light-blue-bar {
  height: 20px;
  background-color: #7ED3F6;
}

/* helpers */
.no-padding{
  padding: 0px 0px 0px 0px
}
.full-width {
  width: 100%;
}
.wine-row {
  display: flex;
  flex-direction: row;
  height: 70px;
  padding: 10px 0;
}
.wine-row img{
  width: 30px!important;
}
.wine-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
/* header section */

#neurotem-video {
  position: relative;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
}
.vbox-figlio{
  height: 100%!important;
}
.padding-title {
  padding-bottom: 5vh;
}

/* features section */

.features-img {
  width: 350px;
  cursor: pointer;
}

.features {
  font-size: 1.15rem;
}
.features-btn{
  background-color: #80298F;
}
.features-btn:hover{
  background-color: #b038c5;
}
/* forum section */

.forum-padding {
  padding-left: 10vw;
  padding-right: 10vw;
}
.owl-carousel .owl-dots.disabled {
  display: block;
}

/* monographies section */

.card-image img {
  height: 60px;
}
#monografias a{
  transition: .5s;
}
#monografias a:hover{
  color: #7ED3F6;
  transition: .5s;
}
/* notice section */

#notice {
  background-image: url("../images/principal_kids.jpg");
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.notice {
  color: #F7F7F7;
  text-shadow: 3px 3px 3px black;
}

#notice .child {
  position: absolute;
}

#notice .valign-wrapper {
  display: -webkit-flex!important;
  display: -ms-flexbox!important;
  display: flex!important;
}

.padding-ad {
  padding: 1rem;
}

.child {
  position: absolute;
  top: -8vh;
  right: 0;
}

.parent {
  position: relative;
}
/* endorsement section */
#endorsement .valign-wrapper {
  display: -webkit-flex!important;
  display: -ms-flexbox!important;
  display: flex!important;
}

.card-image.img
{
  height:450px!important;
}

.material-icons.md1::before{
  content:"search"; 
}

.material-icons.md1:hover::before{
  content:"navigate_next"; 
}
video::-webkit-media-controls {
  visibility: hidden;
}

video::-webkit-media-controls-enclosure {
  visibility: visible;
}
#opiniones .material-icons{
  font-size: 3rem;
}
#opiniones .flow-text {
  font-size: 1.3rem
}
.owl-prev:hover{
  background-color: transparent!important;
  color: #b038c5!important;
}
.owl-next:hover{
  background-color: transparent!important;
  color: #b038c5!important;
}

.padding-for-2-a{
  padding-left: 0px!important;
}
.padding-for-2-b{
  padding-right: 0px!important;
}
.lace{
  position: absolute;
  padding-top: 10px;
  padding-left: 100px;
  max-height: 220px;
}
.lace-sm{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 50px;
}
@media screen and (max-width:1400px) {
  #opiniones .flow-text {
    font-size: 1rem
  }
  .lace{
  position: absolute;
  padding-left: 68px;
  max-height: 170px;
}
}

@media only screen and (max-width: 600px) {
  /* header section */
  #neurotem-video {
    height: auto;
  }
  /* features setion */
  .features{
    font-size: 1rem;
  }
  .features-img {
    width: 100%;
    padding-right: 10vw;
    padding-left: 10vw;
  }
  .vbox-inline{
    height: auto!important;
  }
  /* notice section */
  .padding-ad{
    align-content: center;
    text-align: center;
  }
  .notice-img{
    padding-right: 10vw;
    padding-left: 10vw;
  }
  #notice .child {
    position: inherit;
  }
  #notice .valign-wrapper {
    display: -webkit-inline-box!important;
    display: -webkit-inline-box!important;
    display: -ms-inline-grid!important;
    display: inline!important;
  }
  /* endorsement section */
  #endorsement .valign-wrapper {
    display: -webkit-inline-box!important;
    display: -webkit-inline-box!important;
    display: -ms-inline-grid!important;
    display: inline!important;
  }
  /* forum section */
  .forum-padding {
    padding-left: 0vw;
    padding-right: 0vw;
  }
  /* footer section */
  footer .right-align {
    text-align: left;
  }
  .smaller_on_mobile{
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  .padding-for-2-a{
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .padding-for-2-b{
    padding-right: 0px!important;
    padding-left: 0px!important;
  }
}