* {
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: "Verdana, Geneva", sans-serif;
  min-height: 100vh;
  background-color: #fff;
}

main {
  width: 100%;
  margin: 0 auto;
}

section {
  padding-top: 6vh;
  padding-bottom: 4vh;
}

footer {
  padding-top: 5vh;
  margin-top: auto;
  background-color: #7ED3F6;
  color: black;
}

footer a img {
  padding-right: 10px;
}

footer a {
  color: #80298F;
}

.footer-copyright {
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
  color: black;
  background-color: #7ED3F6;
}

h1, h2, h3, h4, h5 {
  font-family: "Arial, Helvetica" sans-serif!important;
  font-weight: 400;
}

p {
  line-height: 2rem;
}

/* navbar */

.menu-icon {
  padding-right: 10px;
  height: 25px;
}

/* navbar color */

nav {
  background-color: #80298F;
}

nav.nav-center ul {
  text-align: center;
}

nav.nav-center ul li {
  display: inline;
  float: none;
}

nav.nav-center ul li a {
  display: inline-flex;
}

/* menu icon color on sidenav */

.sidenav-trigger {
  color: #7ED3F6;
}

/* theme colors */

.purple-text {
  color: #80298F;
}

.purple-bg {
  background-color: #80298F;
}

.blue-bg {
  background-color: #0C4BA0;
}

.blue-text {
  color: #0C4BA0!important;
}

.light-blue-bg {
  background-color: #7ED3F6;
}

.light-blue-text {
  color: #7ED3F6;
}

.light-blue-bar {
  height: 20px;
  background-color: #7ED3F6;
}

/* helpers */

.full-width {
  width: 100%;
}
.wine-row {
  display: flex;
  flex-direction: row;
  height: 70px;
  padding: 10px 0;
}
.wine-row img{
  width: 30px!important;
}
.wine-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
/* header section */

#neurotem-video {
  position: relative;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
}

.padding-title {
  padding-bottom: 5vh;
}

/* features section */

.features-img {
  width: 350px;
}

.features {
  font-size: 1.15rem;
}

/* forum section */

.forum-padding {
  padding-left: 10vw;
  padding-right: 10vw;
}

/* monographies section */

.card-image img {
  height: 60px;
}

/* notice section */

#notice {
  background-image: url("../images/principal_kids.jpg");
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.notice {
  color: #F7F7F7;
  text-shadow: 3px 3px 3px black;
}

#notice .child {
  position: absolute;
}

#notice .valign-wrapper {
  display: -webkit-flex!important;
  display: -ms-flexbox!important;
  display: flex!important;
}

.padding-ad {
  padding: 1rem;
}

.child {
  position: absolute;
  top: -6vh;
  right: 0;
}

.parent {
  position: relative;
}
/* endorsement section */
#endorsement .valign-wrapper {
  display: -webkit-flex!important;
  display: -ms-flexbox!important;
  display: flex!important;
}

.card-image.img
{
  height:450px!important;
}

.material-icons.md1::before{
  content:"search"; 
}

.material-icons.md1:hover::before{
  content:"navigate_next"; 
}
@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 600px) {
  /* header section */
  #neurotem-video {
    height: auto;
  }
  /* features setion */
  .features-img {
    width: 100%;
  }
  /* notice section */
  #notice .child {
    position: inherit;
  }
  #notice .valign-wrapper {
    display: -webkit-inline-box!important;
    display: -webkit-inline-box!important;
    display: -ms-inline-grid!important;
    display: inline!important;
  }
  /* endorsement section */
  #endorsement .valign-wrapper {
    display: -webkit-inline-box!important;
    display: -webkit-inline-box!important;
    display: -ms-inline-grid!important;
    display: inline!important;
  }
  /* forum section */
  .forum-padding {
    padding-left: 0vw;
    padding-right: 0vw;
  }
  /* footer section */
  footer .right-align {
    text-align: left;
  }
}